body {
    background-color: #bae6fd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

@font-face {
    font-family: 'AkayaTelivigala-Regular';
    src: url(../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf);
}

.container {
    margin: 20px auto;
    width: 50%;
}

.container > h1 {
    text-align: center;
    font-family: 'AkayaTelivigala-Regular' ;
    font-size: 42px;
    font-weight: 500;
    color: #f05;
}

#form-dialog {
    border: .3px solid #38bdf8;
    border-radius: 20px;
    background-color: #7dd3fc;
    font-family: 'AkayaTelivigala-Regular';
    box-shadow: 3px 3px 3px #0284c7;
}

[class="input-type"] {
    width: 400px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: .5 solid #ddd;
    border-radius: 14px;
    font-size: 18px;
    font-family: 'AkayaTelivigala-Regular';
    background-color: #f0f9ff;
}

button {
    width: 100px;
    height: 40px;
    background-color: #0284c7;
    font-size: 18px;
    color: #fffff0;
    border: none;
    border-radius: 19px;
    margin-top: 25px;
    margin-right: 30px;
    box-shadow: 2px 2px 2px #0ea5e9;
    cursor: pointer;
    font-family: 'AkayaTelivigala-Regular';
}

button:hover {
    background-color: #0c4a6e;
    transition: 800ms;
}


button:active {
    background-color: #0c4a6e;
    color: #FFf ;
}

label {
    font-size: 18px;
    
}

#menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
    width: max-content;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #0284c7;
    font-size: 14px;
    margin: 0;
    box-shadow: 4px 4px 4px #60a5fa;
    color: #fffff0;
}

#menu-button:hover {
    background-color: #0c4a6e;
}


table,
th,
td {
    border: 1px #666 solid;
}

tr:nth-child(even) {
    background-color: #7dd3fc;
    color:#8f1308;
}

th {
    width: 200px;
    background-color: #0c4a6e;
    color: #fffff0;
}

td {
    text-align: center;
}

table {
    display: none;
    border-spacing: 0;
    margin-top: 16px;
    font-family: 'AkayaTelivigala-Regular';
}

.pages, 
.check {
    width: 90px;
}

.title {
    width: 350px;
}

.delete {
    background-color: #7dd3fc;
}
